body {
    font-family: 'Old Standard TT', serif !important;
    font-size: 16px;
    font-weight: bold; 
}

h2, h3, h5 {
    font-family: 'Pacifico', cursive !important;
}



ul {
    background-color: #ff9100 !important;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 150px;
}

.front {
    height: 300px !important;
}

footer {
    background-color: #2d2d30;
    color: #ff9100;
    padding: 32px;
    font-size: 16px !important;
    text-align: center;
}



.navbar {
    color: #2d2d30 !important;
    background-color: #ff9100 !important;
}

.navbar, .navbar li a {
    color: #2d2d30 !important;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 30pt !important;
    color: #2d2d30 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #2d2d30 !important;
}

.plain{
    background-color: #2d2d30 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

